/Baslangıc_Liste.py
/Calculator.py
/Class.py
/Fonksiyonel_Programlama.py
/Fonksiyonlar_ve_Doguler.py
/function-calculator.py
/numpy pandas.py
/Odevler.py
/Training_Part.py
/Tuple_Dictionary_Kume_islemleri.py